.nav {
    background: var(--clr-primary-500);
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.footer {
    font-size: var(--fs-600);
    font-weight: var(--fw-semibold);
}

.title {
    font-size: var(--fs-800);
}

.item-list {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
    overflow: auto;
    scrollbar-color: var(--clr-neutral-400) var(--clr-primary-500);
}

.item-list > * {
    flex-shrink: 0;
}