.auth-layout {
    padding: 1rem;
    overflow: visible;
}

@media (min-width: 600px) {
    .auth-layout {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}