.page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    background: white;
    border-radius: var(--radius-large);
    padding: 1.5rem;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
}

.shopping-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    gap: 1.25rem;
    padding: 1rem 2rem;
    overflow: auto;
    scrollbar-color: var(--clr-neutral-400) white;
}

.shopping-list > * {
    flex-shrink: 0;
}

.button-wrapper {
    width: 15rem;
    align-self: center;
    flex-shrink: 0;
}