.nav-item {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: var(--radius-large);
    list-style: none;
    height: 2.5rem;
    font-size: var(--fs-600);
    font-weight: var(--fw-semibold);
    transition-duration: var(--transition-time-medium);
}

.nav-item:hover {
    cursor: pointer;
    background: hsla(var(--clr-accent-500-hsl), .8);
    color: var(--clr-neutral-50);
}

.selected, .selected:hover {
    background: var(--clr-accent-500);
    color: var(--clr-neutral-50);
}